
.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;

    background-image: url("../../../assets/images/background.png");
    background-repeat: repeat;
}

.logoContainer {
    width: 80vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// main

.mainContainer {
    width: 70vw;
    height: 100vh;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainNav {
    position: relative;

    width: 100vw;
}

.UploadReturn {
    margin-top: 10rem;

    height: 20rem;
    width: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;

    background-color: rgb(245, 245, 245);
}