.container {
    margin: 1rem;
   p {
        width: 20rem;
        
        

        font-size: 1.2rem;
        text-align: center;

        background-color: rgb(245, 245, 245);
        border-radius: 1rem;
   }
}