.container {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    img {
        height: 15rem;
    }

    p {
    margin-top: 1rem;

  

    font-size: 4rem;
    color: rgb(202, 202, 202);
    }

    .arrow {
    margin-top: 1rem;
    
    fill: rgb(202, 202, 202);
    height: 3rem;
    width: 12rem;   
}
}



